@model IEnumerable<Lab1_1223319_1003519.Models.Jugador>

@{
    ViewBag.Title = "Index";
}

<h2>Jugadores MLS</h2>
<input type="button" value="Usar lista artesanal" onclick="location.href='@Url.Action("ListaArtesanal", "Jugador")'" />
<input type="button" value="Usar lista de C#" onclick="location.href='@Url.Action("ListaCS", "Jugador")'" />
<hr />
<input type="button" class="btn-info" value="Agregar Jugador" onclick="location.href='@Url.Action("Create", "Jugador")'" />
@using (Html.BeginForm("AbrirArchivo",
                        "Jugador",
                        FormMethod.Post,
                        new { enctype = "multipart/form-data" }))
{

    <input type="file" name="file" value="Seleccionar Archivo" id="file" />
    <input type="submit" value="Abrir" />

}
<br />

<div class="container">
    <div class="col-md-12">
        @using (Html.BeginForm("BuscarNombre",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
        {
            <label for="file">Buscar por Nombre</label>
            <input type="text" name="text" id="text" />
            <input type="submit" value="Buscar" />
        }
    </div>
    @using (Html.BeginForm("BuscarApellido",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Buscar por Apellido</label>
        <input type="text" name="text" id="text" />

        <input type="submit" value="Buscar" />


    }
    @using (Html.BeginForm("BuscarPosicion",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Buscar por Posicion</label>
        <input type="text" name="text" id="text" />
        <input type="submit" value="Buscar" />

    }
    @using (Html.BeginForm("BuscarSalarioMenor",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Buscar por Salario menor a</label>
        <input type="text" name="text" id="text" />
        <input type="submit" value="Buscar" />
    }
    @using (Html.BeginForm("BuscarSalarioIgual",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Buscar por Salario igual a</label>
        <input type="text" name="text" id="text" />
        <input type="submit" value="Buscar" />
    }
    @using (Html.BeginForm("BuscarSalarioMayor",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Buscar por Salario mayor a</label>
        <input type="text" name="text" id="text" />
        <input type="submit" value="Buscar" />
    }
    @using (Html.BeginForm("BuscarClub",
                            "Jugador",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Buscar por Club</label>
        <input type="text" name="text" id="text" />

        <input type="submit" placeholder="Club" value="Buscar" />

    }

</div>

<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posición)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posición)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Club)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

@Html.ActionLink("Resumen de tiempos", "Details")
