@model IEnumerable<Lab1_1223319_1003519.Models.Jugador>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @Html.ActionLink("Ordenar Nombre", "BuscarNombre")
</p>
<input type="button" value="Crear por nombre" onclick="location.href='@Url.Action("Create", "Jugador")'" />
<input type="button" value="Buscar por nombre" onclick="location.href='@Url.Action("BuscarNombre", "Jugador")'" />
<input type="file" name="FileUpload" value="Seleccionar archivo">
<input type="button" value="Abrir archivo" onclick="location.href='@Url.Action("AbrirArchivo", "Jugador")'" />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Apellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posición)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Club)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Posición)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Salario)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Club)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
    }

</table>
